

header h1 {
    font-size: 34px;
    background-color: #0072bb;
    text-align: center;
}

.container {
    background-color: brown;
}

img {
    margin-bottom: -4px;
}

.container h4 {

}

.dogs {
    height: 200px;
    width: 300px;
    align-content: center;
}